<!-- src/app/admin-home/admin-home.component.html -->
<div class="admin-container">
    <h1 class="admin-title">Welcome to Apna Paisa Bank - Admin Panel</h1>
    <p>Manage banking operations and account requests.</p>
  
    <div class="admin-buttons">
      <!-- Button to View Account Requests -->
      <button (click)="goToRequests()" class="btn btn-primary">
        View Account Requests
      </button>
  
      <!-- Logout Button -->
      <button class="btn btn-danger" (click)="logout()">
        Logout
      </button>
    </div>
  </div>
  